<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="login.css">
</head>
<body>
    

<div class="container">
    <form action="/login" method="post" class="form">
    <h1 style="padding-bottom:30px ; color:white;">LOGIN</h1>
        <input placeholder="Name" name="name" type="text" class="box">
        <br>
        <input placeholder="Password" name="password" type="password" class="box">
        <br>
        
        <input class="sub" type="submit">
     
    </form>
    <div class="right" >
        <h2 >New to this website?</h2>
         <a href="/signup" style="padding-top: 15px; ">Go to Sign Up Page</a>
    </div>

      
</div>
</body>
</html>